.dropdown__modal[data-v-5e92d064] {
  position: absolute;
  width: 248px;
  top: calc(100% + 6px);
  right: 0;
  padding: 4px;
  background-image: linear-gradient(0deg, #f5f5f5, #f5f5f5);
  background-color: #fff;
  border: 2px solid black;
  border-radius: 14px;
  z-index: 9;
}

.dropdown__list[data-v-5e92d064] {
  padding: 2px;
  list-style: none;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-color: #d1d1d1 #f5f5f5;
  scrollbar-width: thin;
}

.dropdown__list[data-v-5e92d064]::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
  overflow: hidden;
  border-radius: 10px;
}

.dropdown__list[data-v-5e92d064]::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}

.dropdown__item[data-v-5e92d064]:not(:last-child) {
  margin-bottom: 2px;
}

.dropdown__button-item[data-v-5e92d064] {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 11px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #000;
  text-align: left;
  display: flex;
  -moz-column-gap: 12px;
  column-gap: 12px;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

.dropdown__button-item[data-v-5e92d064]:hover {
  background-color: #0f0f0f0a;
}

.dropdown__button-item[data-v-5e92d064]:active {
  box-shadow: 0 2px 3px #00000014;
  background-color: #fff;
}

.dropdown__button-item[data-v-5e92d064]:focus-visible {
  outline: 1px solid #3a89ff;
  box-shadow: 0 0 0 2px #3a89ff3d;
}

.dropdown__flag[data-v-5e92d064] {
  border-radius: 100%;
}

.dropdown-enter-active[data-v-5e92d064],
.dropdown-leave-active[data-v-5e92d064] {
  transition: opacity 0.2s ease-in-out;
}

.dropdown-enter-from[data-v-5e92d064],
.dropdown-leave-to[data-v-5e92d064] {
  opacity: 0;
}
